* {
    box-sizing: border-box;
}
.bb111 {
    background-color: #cfedfb;
}
header {
    height: 130px;
    background-color:  #d7f6ff;
}
footer {
    height: 100px;
    background-color:  #8eceed;
}
.ss111 {
    background-color: #99b1f2;
    border-radius: 15px;
}
.logo2 {
    width: 100px;
    height: 100px;
    border-radius: 15px;
}
a {
    color: #412e2e;
}
.table {
    background-color: #e3b2eb;
}
tr:nth-child(2n) {
    background-color: rgba(196, 153, 255, 0.349);
}
@media screen and (min-device-width: 576px) {
    .table {
        width: 60%;
    }
}





